<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
 
 <!-- use mybatis to 'READ' database -->
<mapper namespace="com.cota.mapper.CommentsMapper">

    <select id="retrieveAsCommentsListDto" resultType = "com.cota.dto.comments.CommentsListDto">
        SELECT 
            c.c_no,
            c.c_content,
            c.c_uno,
            modified_date,
            u.u_no,
            u.u_name,
            u.u_email
        FROM users AS u JOIN comments AS c 
        ON c.c_uno = u.u_no
        <choose> 
			<when test="check.equals('one_comment_details')">
			<!--> search one comment whose pno equals #{cNo} <-->
				 WHERE c.c_no = #{cNo}						
			</when> 
			<when test="check.equals('all_comments_details')"> 
			<!--> search all comments in order of date, with ten data per call <-->
                WHERE c.c_pno = #{pNo}
				ORDER BY created_date DESC, modified_date DESC
                LIMIT #{rowNum, jdbcType=NUMERIC} , 10
			</when>
		</choose>
    </select>

</mapper>