<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
 
 <!-- use mybatis to 'READ' database -->
<mapper namespace="com.cota.mapper.PostsMapper">
 
 	<!-- test query for mybatis connection -->
    <select id="postsCount" resultType="int">
        SELECT
            COUNT(*)
        FROM posts
    </select>
    
    <!-- read data for card_list -->
    <select id="retrieveAllAsPostsListDto" resultType="com.cota.dto.PostsListDto">
    	SELECT 
    		p_no,
    		p_title,
    		p_uno, 
    		modified_date, 
    		p_thumbnail, 
    		p_like_cnt, 
    		p_comment_cnt, 
    		p_view_cnt
    	FROM posts
    	<choose> 
    		<when test="category == 'recent'"> 
    			ORDER BY modified_date DESC, p_like_cnt DESC
    		</when> 
    		<when test="category == 'best'">
    			ORDER BY p_like_cnt DESC, modified_date DESC
    		</when>
    		<when test="category == 'save'">
				WHERE p_no IN (SELECT r_pno FROM repositorys WHERE r_uno=#{uNo})
				ORDER BY modified_date DESC, p_like_cnt DESC
    		</when>
    		<when test="category == 'follow'">
    			WHERE p_uno IN (SELECT f_follewed_no FROM follows WHERE f_follower_no = #{uNo})
    			ORDER BY modified_date DESC, p_like_cnt DESC
    		</when>
    	</choose>
		LIMIT #{rowNum, jdbcType=NUMERIC} , 10
    </select>
    
    <select id="getLikeCheck" parameterType="String" resultType="boolean">
    	SELECT IFNULL(l.l_check,0) AS l_check FROM posts AS p 
    	LEFT JOIN (SELECT * FROM likes WHERE l_uno = #{uNo}) AS l ON p_no = l_pno
		WHERE p_no = #{pNo};
    </select>
    
    <select id="getFollowCheck" parameterType="String" resultType="boolean">
    	SELECT IFNULL(f.f_check, 0) AS f_check FROM posts AS p 
    	LEFT JOIN (SELECT * FROM follows WHERE f_follower_no = #{uNo}) AS f ON p_uno = f_followed_no
    	WHERE p_no = #{pNo};
    </select>
    
    <select id="getRepositoryCheck" parameterType="String" resultType="boolean">
    	SELECT IFNULL(r.r_check, 0) AS r_check FROM posts AS p 
    	LEFT JOIN (SELECT * FROM repositorys WHERE r_uno = #{uNo}) AS r ON r_pno = p_no
		WHERE p_no = #{pNo};
    </select>
    
</mapper>